@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap');


:root {
    --darck-color: #2F3136;
    --black:#202225;
    --gray-text:#a6abb2;
    --white: #dce0e8;
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--darck-color);
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
}

.container1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    height: 60vh;
    padding: 30px;
    background-color: #204475;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    height: 600vh;
    padding: 30px;
    background-color: #a6abb2;
}
.area1 {
    position: relative;
    left: -100vw;
    opacity: 0;
    width: 100%;
    max-width: 600px;
    height: 300px;
    margin: 30px;
    background-color: rgb(38, 95, 95);
    transition: all 1s ease-in-out;
    box-shadow: 0px 0px 10px 6px black;
    cursor: pointer;
}
.area2 {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 300px;
    margin: 30px;
    background-color: rgb(160, 150, 16);
    transition: all 1s ease-in-out;
    box-shadow: 0px 0px 10px 6px black;
    left: 100vw;
    opacity: -1;
    cursor: pointer;
}

.animar {
    position: relative;
    left: 0px;
    opacity: 1;
}

